<!DOCTYPE html>
<html lang="fa"
      xmlns:th="http://www.thymeleaf.org"
      dir="rtl">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>مدیریت محصولات</title>

    <link rel="stylesheet"
          th:href="@{/css/ad_products.css}">

</head>


<body>


<header class="navbar">

    <h1>
        پنل مدیریت
    </h1>


    <nav>

        <a th:href="@{/admin}">
            داشبورد
        </a>

        <a th:href="@{/admin/products}">
            محصولات
        </a>

        <a th:href="@{/admin/users}">
            کاربران
        </a>

        <a th:href="@{/}">
            خروج
        </a>

    </nav>


</header>



<main class="container">


    <div class="header">

        <h2>
            مدیریت محصولات
        </h2>

    </div>

    <div class="admin-form">

        <h2
                th:text="${productRequest.id == null}
      ? 'افزودن محصول'
      : 'ویرایش محصول'">
        </h2>

        <form
                th:action="@{/admin/products/save}"
                method="post">

            <input
                    type="hidden"
                    name="id"
                    th:value="${productRequest.id}">

            <input
                    type="text"
                    name="name"
                    placeholder="نام محصول"
                    th:value="${productRequest.name}">

            <input
                    type="number"
                    step="0.01"
                    name="price"
                    placeholder="قیمت"
                    th:value="${productRequest.price}">

            <input
                    type="number"
                    name="quantity"
                    placeholder="تعداد"
                    th:value="${productRequest.quantity}">

            <select name="categoryId">

                <option value="">
                    انتخاب دسته بندی
                </option>


                <option
                        th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:text="${category.name}"
                        th:selected="${category.id == productRequest.categoryId}">
                </option>


            </select>

            <input
                    type="text"
                    name="imageUrl"
                    placeholder="آدرس عکس"
                    th:value="${productRequest.imageUrl}">

            <textarea
                    name="description"
                    placeholder="توضیحات"
                    th:text="${productRequest.description}">
        </textarea>

            <button type="submit">

            <span
                    th:text="${productRequest.id == null}
                    ? 'افزودن محصول'
                    : 'ذخیره تغییرات'">
            </span>

            </button>

        </form>

    </div>

    <table>

        <thead>

        <tr>

            <th>
                نام
            </th>


            <th>
                دسته
            </th>


            <th>
                قیمت
            </th>


            <th>
                موجودی
            </th>


            <th>
                عملیات
            </th>


        </tr>

        </thead>

        <tbody>

        <tr th:each="product : ${products}">


            <td th:text="${product.name}">
                نام
            </td>


            <td th:text="${product.categoryName}">
                دسته
            </td>


            <td th:text="${product.price}">
                قیمت
            </td>


            <td th:text="${product.quantity}">
                تعداد
            </td>

            <td class="actions">

                <a
                        class="edit-btn"
                        th:href="@{/admin/products(editId=${product.id})}">

                    ویرایش

                </a>

                <form
                        th:action="@{/admin/products/delete/{id}(id=${product.id})}"
                        method="post"
                        onsubmit="return confirm('آیا مطمئن هستید که می‌خواهید این محصول را حذف کنید؟')">

                    <button
                            type="submit"
                            class="delete-btn">

                        حذف

                    </button>

                </form>

            </td>

        </tr>


        </tbody>


    </table>

</main>


</body>

</html>