<!DOCTYPE html>
<html lang="fa"
      xmlns:th="http://www.thymeleaf.org"
      dir="rtl">

<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>ورود</title>

    <link rel="stylesheet"
          th:href="@{/css/auth.css}">

</head>

<body>

<header class="navbar">

    <h1>فروشگاه</h1>

    <nav>

        <a th:href="@{/}">صفحه اصلی</a>
        <a th:href="@{/products}">محصولات</a>
        <a th:href="@{/cart}">سبد خرید</a>
        <a th:href="@{/login}">ورود</a>
        <a th:href="@{/register}">ثبت نام</a>

    </nav>

</header>

<main>

    <div class="auth-card">

        <h2>ورود به حساب</h2>

        <form
                th:action="@{/login}"
                method="post"
                th:object="${loginRequest}">

            <input
                    type="email"
                    th:field="*{email}"
                    placeholder="ایمیل">

            <input
                    type="password"
                    th:field="*{password}"
                    placeholder="رمز عبور">

            <button type="submit">
                ورود
            </button>

        </form>
        <p>

            حساب ندارید؟

            <a th:href="@{/register}">
                ثبت نام
            </a>

        </p>

    </div>

</main>

</body>

</html>